<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div>
        <h1>Calculadora</h1>
    
        <form action="/" class="calculadora" method="POST">
            <input 
            name="operation"
            type="text" 
            id="display"
            readonly
            required
            >
            <article class="container-buttons">
                <button class="boton-calc" type="button" onclick="addValue(event)" value="1">1</button>
                <button class="boton-calc" type="button" onclick="addValue(event)" value="2">2</button>
                <button class="boton-calc" type="button" onclick="addValue(event)" value="3">3</button>
                <button class="boton-calc" type="button" onclick="addValue(event)" value="4">4</button>
                <button class="boton-calc" type="button" onclick="addValue(event)" value="5">5</button>
                <button class="boton-calc" type="button" onclick="addValue(event)" value="6">6</button>
                <button class="boton-calc" type="button" onclick="addValue(event)" value="7">7</button>
                <button class="boton-calc" type="button" onclick="addValue(event)" value="8">8</button>
                <button class="boton-calc" type="button" onclick="addValue(event)" value="9">9</button>
                <button class="boton-calc" type="button" onclick="addValue(event)" value="0">0</button>
                <button class="boton-calc boton-op" type="button" onclick="addValue(event)" value="+">+</button>
                <button class="boton-calc boton-op" type="button" onclick="addValue(event)" value="-">-</button>
                <button class="boton-calc boton-op" type="button" onclick="addValue(event)" value="/">/</button>
                <button class="boton-calc boton-op" type="button" onclick="addValue(event)" value="*">*</button>
                <button class="boton-calc boton-del" type="button" onclick="deleteLast()">DEL</button>
                <button class="boton-calc boton-del" type="button" onclick="deleteAll()">CC</button>
                <button class="boton-calc boton-equals" type="submit" onclick="calculate()" >=</button>
            </article>
        </form>

        {% if result is not none %}
            <h2>Resultado: {{ result }}</h2>
        {% endif %}
    </div>

    <div>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        {% if tree_image %}
            <h2>Árbol Sintáctico</h2>
            <img src="{{ tree_image }}" alt="Árbol Sintáctico">
        {% endif %}
    </div>



    
</body>
<footer>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</footer>

</html>